html {
    width: auto;
    height: auto;
    margin: 0%;
    font-size: 115%;
}

header {
    background-image: url("https://mail.google.com/mail/u/0?ui=2&ik=3fe32dd5fd&attid=0.3&permmsgid=msg-f:1759803241529963393&th=186c13b96df97381&view=att&disp=safe&realattid=f_lezo21362");
    background-color: white;
    background-size: cover;
}

 .blur {
    background-color: rgba(0, 0, 0, 0.0012);
    backdrop-filter: blur(1px);
 }

nav {
    background-color: rgb(70, 155, 70);
    padding-right: 500%;
    padding-top: 5%;
}

aside {
    padding-right: 80%;
    padding-bottom: 5%;
}

.container {
   flex: 30px;
}

h2,
h3 {
    color: rgb(1, 22, 15);
    font: bolder;
    font-style: normal;
    font-size: 160%;
}

h1 {
    margin: 10px;
    font-size: 50px;
    color: black;
    font-weight: bolder;
    margin-left: 100px;
}

.intro {
   margin-top: 250px;
   margin-right: 400px;
    font-size: 115%;
    color: black;
    font-weight: bolder;
}

.map1 {
    background-color: rgb(32, 163, 56);
    display: inline-block;
    width: 45%;
    padding-left: 2%;
}


.map2 {
    background-color: rgb(97, 223, 116);
    display: inline-block;
}


.map1 {
    flex: 1;
}


.map2 {
    flex: 3;
}


div {
    display: flex;
}


.mapA {
    background-color: rgb(97, 223, 116);
    display: inline-block;
    width: 50%;
    padding-left: 5%;
}


.mapB {
    background-color: rgb(97, 223, 116);
    display: inline-block;
    padding-left: 8%;
}


img {
    display: block;
    margin: auto;
    margin-top: 20%;
    border: 4px solid rgb(25, 201, 12);
    margin-right: 20%;
}

footer {
    background-color: rgb(80, 178, 80);
    padding-top: 1%;
    text-align: center;
    position: static;
    padding-bottom: 2%;
    ;
}

h4 {
    background-color: rgb(97, 223, 116);
    margin-left: 40%;
    margin-right: 40%;
}

label {
    width: 5%;
    display: inline-block;
    margin: 4px;
    font-weight: bold;
}

button:hover {
    background-color: cadetblue;
}